


.myButton {
    line-height: 30px;
    width: 150px;
}

#myPlayer {
    color: blue;
}

#myComputer {
    color: red;
}

#gameDiv {
    border: 3px solid;
    border-radius: 26px;
    padding: 10px;
    font-family: "Permanent Marker", cursive;
    background-color: rgb(184, 182, 182);
    text-align: center;
}