/* Game buttons */

.myButtons {
    line-height: 30px;
    width: 150px;
}

/* player */

#myPlayer {
    color: blue;
}

/* computer */

#myComputer {
    color: red;
}

/* Game Div */


#gameDiv {


    border: 3px solid;
    border-radius: 26px;
    padding: 50px;
    font-family: "Permanent Marker", cursive;
    background-color: rgb(226, 235, 243);
    text-align: center;

}

.score {
    font-size: 20px;
    color: green;
}

.scoreNum {
    color: green;
}